blis==0.7.4
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
decorator==4.4.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
Flask==1.1.2
Flask-Cors==3.0.9
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
moviepy==1.0.3
murmurhash==1.0.5
numpy==1.19.4
Pillow==8.1.0
plac==1.1.3
preshed==3.0.5
proglog==0.1.9
requests==2.25.1
six==1.15.0
spacy==2.3.5
SpeechRecognition==3.8.1
srsly==1.0.5
thinc==7.4.5
tqdm==4.55.1
typing-extensions==3.7.4.3
urllib3==1.26.2
wasabi==0.8.0
Werkzeug==1.0.1
wincertstore==0.2
zipp==3.4.0
